$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@keyframes brand-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes brand-rotate-inverse {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    background: #fff;
    background: rgba(255,255,255,0.95);
    padding: 15px 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1010;
}

.header.shadow {
    box-shadow: 1px 0 2px rgba(100,100,100,0.6);
}

#mainBody {
    padding-top: 110px;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    img.brand {
        margin-right: 10px;
        float: left;
        animation-name: brand-rotate;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        transition: animation linear 300ms;
    }
}
.header h1:hover {
    img.brand {
        animation-duration: 2s;
    }
}
.header h1.busy {
    img.brand {
        animation-duration: 300ms;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Table for datagrid */
.datagrid {
    thead, tbody, tfoot {
        tr {
            th {
                border-bottom: none;
                padding: 2px;
            }
            td {
                padding: 1px;
                border-top: none;
                input, select, .btn {
                    border-radius: 0;
                }
            }
        }
    }
}
.jumbotron, .panel, .panel-heading {
    transition: all 1s ease;
}
/* Custom Jumbotron */
.jumbotron.people {
    border: solid 1px #d9534f;
    background-color: #f2dede;
    color:#d9534f;
    p.lead {
        white-space: pre-wrap;
    }
    h1 small, .text-muted {
        color: #eba5a3;
    }
}
.jumbotron.component {
    border: solid 1px #f0ad4e;
    background-color: #fcf8e3;
    color:#f0ad4e;
    p.lead {
        white-space: pre-wrap;
    }
    h1 small, .text-muted {
        color: #f8d9ac;
    }
}
.jumbotron.service {
    border: solid 1px #428bca;
    background-color: #d9eded;
    color:#428bca;
    p.lead {
        white-space: pre-wrap;
    }
    h1 small, .text-muted {
        color: #92bce0;
    }
}

/* Custom Panel */
.panel.people {
    border-color: #d9534f;
    .panel-heading {
        color: #fff;
        background-color: #d9534f;
        border-color: #d9534f;
    }
}
.panel.component {
    border-color: #f0ad4e;
    .panel-heading {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #f0ad4e;
    }
}
.panel.service {
    border-color: #428bca;
    .panel-heading {
        color: #fff;
        background-color: #428bca;
        border-color: #428bca;
    }
}

.drop-over {
    cursor: grabbing;
    transform: scale(1.01);
    transition: all ease 800ms;
    .panel.people {
        cursor: grabbing;
        box-shadow: 0 0 10px #d9534f;
    }
    .panel.component {
        cursor: grabbing;
        box-shadow: 0 0 10px #f0ad4e;
    }
    .panel.service {
        cursor: grabbing;
        box-shadow: 0 0 10px #428bca;
    }
}
.drop-invalid {
    cursor: not-allowed;
    .panel,
    .panel.people,
    .panel.component,
    .panel.service {
        cursor: not-allowed;
        border-color: #999;
        opacity: 0.2;
        .panel-heading {
            color: #666;
            background-color: #999;
            border-color: #999;
        }
    }
}

.progress-label {
    overflow: hidden;
    font-size: 12px;
    color: #999;
}

@media screen and (max-width: 320px) {
    .header {
        .btn-group {
            display: table;
            width: 100%;
            table-layout: fixed;
            border-collapse: separate;
            .btn {
                float: none;
                display: table-cell;
                width: 1%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #mainBody {
        padding-top: 190px;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
