<div class="panel" ng-class="elemento.tipo" ng-controller="AnexosCtrl">
    <div class="panel-heading">
        <h4 class="panel-title">Anexos</h4>
    </div>
    <table class="table table-condensed">
        <thead ng-show="elemento.anexos.length > 0">
            <tr>
                <th colspan="2">Arquivo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="anexo in elemento.anexos">
                <td colspan="2">
                    <a href="{{anexo.url}}">{{anexo.filename}}</a>
                    <small class="text-muted">
                        {{anexo.size.bites | number:2}}
                        {{anexo.size.unit}}
                    </small>
                </td>
                <td>
                    <button ng-show="editMode || anexosEditMode" class="btn btn-default" ng-click="removeAnexo($index);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-hide="file.complete" ng-repeat="file in uploadFiles.slice(0)">
                <td class="progress-label">
                    {{file.webkitRelativePath || file.name}}
                </td>
                <td colspan="2">
                    <div class="progress progress-striped active" ng-hide="file.failed || file.aborted">
                        <div class="progress-bar" style="width: {{file.progress}}%;">{{file.progress|number:0}}%</div>
                    </div>
                    <div ng-show="file.failed" class="text-danger">Falhou</div>
                    <div ng-show="file.aborted" class="text-warning">Cancelado</div>
                </td>
            </tr>
            <tr ng-show="elemento.anexos.length == 0">
                <td colspan="3" class="text-center text-muted">
                    Sem anexos. Arraste e solte aqui para adicionar.
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="editMode || anexosEditMode">
            <tr>
                <td colspan="3">
                    <input type="file" id="novoAnexo" ng-model-instant multiple onchange="angular.element(this).scope().addAnexo(this)">
                </td>
            </tr>
        </tfoot>
    </table>
</div>