 <div class="header">
    <div class="container">
        <div class="row">
            <h1 class="text-muted col-sm-6"><img src="images/icon-low.png" class="brand">Elementos</h1>
            <form class="form-inline col-sm-6 text-right" role="form">
                <div class="form-group">
                    <input type="hidden" ui-select2="elementoSelector" class="form-control" id="search" placeholder="Encontrar elemento" ng-model="search" ng-change="jumpToElement()">
                </div>
                <div class="btn-group">
                    <a href class="btn btn-default" ng-class="{active:editMode}" ng-click="editMode = !editMode" data-toggle="tooltip" title="Editar o elemento" data-container="body">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href class="btn btn-default" ng-click="beginDelete()" data-toggle="tooltip" title="Excluir o elemento" data-container="body">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a href class="btn btn-default" ng-click="newElement()" data-toggle="tooltip" title="Novo elemento filho" data-container="body">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="mainBody">
    <div class="alert alert-warning collapse" id="confirmDelete">
        <button type="button" class="close" data-toggle="collapse" data-target="#confirmDelete" aria-hidden="true">&times;</button>
        <form ng-submit="delete()">
            <h2>A exclusão do elemento não pode ser desfeita.</h2>
            <p class="lead">Então, para ter certeza que você não está cometendo um engano, digite e resultado da expressão <strong><code>{{expressao}}</code></strong>:</p>
            <p>{{mensagem}}</p>
            <p>
            <input type="text" ng-model="resposta" class="form-control" id="confirmDeleteResposta">
            </p>
            <div class="text-right">
                <button data-toggle="collapse" data-target="#confirmDelete" type="button" class="btn btn-default">Cancelar</button>
                <button type="submit" ng-disabled="!resposta" class="btn btn-primary">Excluir</button>
            </div>
        </form>
    </div>

    <div id="help" class="collapse fade">
        <div class="well">
            <h4>Atalhos de teclado</h4>
            <dl class="dl-horizontal">
                <dt>E</dt>
                <dd>Alterna entre o modo de edição e exibição geral</dd>
                
                <dt>F</dt>
                <dd>Põe o foco no campo de busca</dd>
                
                <dt>H</dt>
                <dd>Exibe essa ajuda</dd>
                
                <dt>SHIFT+N</dt>
                <dd>Cria um novo elemento com relação de herança (filho de) com o atual</dd>
                
                <dt>SHIFT+D</dt>
                <dd>Cria um novo elemento com relação de dependência (depende de) com o atual</dd>
                
                <dt>SHIFT+DEL</dt>
                <dd>Exclui o elemento</dd>
                
                <dt>0</dt>
                <dd>Põe o foco na visão geral do elemento</dd>
                
                <dt>SHIFT+0</dt>
                <dd>Edita apenas a visão geral do elemento</dd>
                
                <dt>1</dt>
                <dd>Põe o foco nas propriedades</dd>
                
                <dt>SHIFT+1</dt>
                <dd>Edita apenas as propriedades</dd>
                
                <dt>2</dt>
                <dd>Põe o foco nos anexos</dd>
                
                <dt>SHIFT+2</dt>
                <dd>Edita apenas os anexos</dd>
                
                <dt>3</dt>
                <dd>Põe o foco nos relacionamentos de dependência</dd>
                
                <dt>SHIFT+3</dt>
                <dd>Edita apenas os relacionementos de dependência</dd>
                
                <dt>4</dt>
                <dd>Põe o foco nos relacionamentos de propriedade</dd>
                
                <dt>SHIFT+4</dt>
                <dd>Edita apenas os relacionamentos de propriedade</dd>
            </dl>
        </div>
    </div>

    <ol class="breadcrumb">
        <li ng-repeat="step in path" ng-class="{active:step.elemento.id == elemento.id}">
            <a href="#/{{step.elemento.id}}" ng-hide="step.elemento.id == elemento.id">
                <i class="glyphicon glyphicon-home" ng-show="$index == 0"></i>
                {{step.elemento.titulo}}
            </a>
            <span ng-show="step.elemento.id == elemento.id">
                {{step.elemento.titulo}}
            </span>
        </li>
    </ol>

    <div ng-include="'partials/geral.html'"></div>

    <div class="row">

        <!-- Propriedades -->
        <div class="col-lg-6" id="PropriedadesPanel" ng-include="'partials/propriedades.html'">
        </div>

        <!-- Anexos -->
        <div class="col-lg-6" ng-class="dropAreaClass" id="AnexosPanel" ng-include="'partials/anexos.html'">
        </div>

    </div>
    <div class="row">

        <!-- Relacionamentos -->
        <div class="col-lg-6" id="RelacionamentosPanel" ng-include="'partials/relacionamentos.html'">
        </div>

        <!-- Pessoas -->
        <div class="col-lg-6" id="PessoasPanel" ng-include="'partials/pessoas.html'">
        </div>
        
    </div>

    <div class="footer">
        <p>&copy; 2013 - Sport Club Corinthians Paulista, Departamento de Tecnologia da Informação.</p>
    </div>
</div>