<div class="jumbotron" ng-class="elemento.tipo" ng-hide="editMode || geralEditMode" id="geralView">
    <h1>
        {{elemento.titulo}}
        <small ng-show="elemento.tipo == 'service'">Serviço</small>
        <small ng-show="elemento.tipo == 'people'">Pessoa</small>
        <small ng-show="elemento.tipo == 'component'">Componente</small>
    </h1>
    <p class="lead">{{elemento.descricao}}</p>
    <p class="text-muted">Valor associado: ${{elemento.valor | number:2 }}</p>
</div>
<div class="panel" ng-class="elemento.tipo" ng-show="editMode || geralEditMode" id="geralEdit">
    <div class="panel-heading">
        <h2 class="panel-title">Editar elemento</h2>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input ng-blur="save()" type="text" class="form-control" id="titulo" ng-model="elemento.titulo">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select ng-blur="save()" class="form-control" id="tipo" ng-model="elemento.tipo" ng-options="opt.value as opt.label for opt in tipos"></select>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea ng-blur="save()" class="form-control" id="descricao" rows="8" ng-model="elemento.descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="valor">Valor associado</label>
                <input ng-blur="save()" type="number" class="form-control" id="valor" ng-model="elemento.valor">
            </div>
        </form>
    </div>
</div>