<div class="panel" ng-class="elemento.tipo" ng-controller="PessoasCtrl">
    <div class="panel-heading">
        <h4 class="panel-title">Relacionamentos de propriedade</h4>
    </div>
    <table class="table table-condensed">
        <thead ng-show="elemento.pessoas.length > 0">
            <tr>
                <th>Relacionamento</th>
                <th>Com</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in elemento.pessoas">
                <td width="40%">
                    <span ng-hide="editMode || pessoasEditMode">{{getNomeRelacionamento(pessoa.tipo)}}</span>
                    <select ui-select2 ng-show="editMode || pessoasEditMode" class="form-control" ng-model="pessoa.tipo" ng-options="tipo.value as tipo.label for tipo in relacionamentos" ng-change="savePessoa($index)"></select>
                </td>
                <td>
                    <span ng-hide="editMode || pessoasEditMode">
                        <span ng-show="pessoa.elemento.tipo == 'service'" class="pull-right label label-primary">Serviço</span>
                        <span ng-show="pessoa.elemento.tipo == 'component'" class="pull-right label label-warning">Componente</span>
                        <span ng-show="pessoa.elemento.tipo == 'people'" class="pull-right label label-danger">Pessoa</span>
                        <a href="#/{{pessoa.elemento.id}}">
                            {{pessoa.elemento.titulo}}
                        </a>
                    </span>
                    <input ng-show="editMode || pessoasEditMode" type="hidden" ui-select2="elementoSelector" class="form-control" ng-model="pessoa.elemento" ng-change="savePessoa($index)">
                </td>
                <td>
                    <button ng-show="editMode || pessoasEditMode" class="btn btn-default" ng-click="removePessoa($index);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-show="elemento.pessoas.length == 0">
                <td colspan="3" class="text-center text-muted">
                    Sem relacionamentos de propriedade
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="editMode || pessoasEditMode">
            <form ng-submit="addPessoa()">
                <tr>
                    <td width="40%">
                        <select ui-select2 id="novaPessoaTipo" class="form-control" ng-model="novaPessoa.tipo" ng-options="tipo.value as tipo.label for tipo in relacionamentos"></select>
                    </td>
                    <td>
                        <input type="hidden" ui-select2="elementoSelector" class="form-control" ng-model="novaPessoa.elemento">
                    </td>
                    <td>
                        <button type="submit" ng-click="addPessoa()" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </form>
        </tfoot>
    </table>
</div>