<div class="panel" ng-class="elemento.tipo" ng-controller="PropriedadesCtrl">
    <div class="panel-heading">
        <h4 class="panel-title">Propriedades</h4>
    </div>
    <table class="table table-condensed">
        <thead ng-show="elemento.propriedades.length > 0">
            <tr>
                <th>Propriedade</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="propriedade in elemento.propriedades">
                <td>
                    <input ng-blur="savePropriedade($index)" ng-show="editMode || propriedadesEditMode" type="text" class="form-control" ng-model="propriedade.nome">
                    <span ng-hide="editMode || propriedadesEditMode">{{propriedade.nome}}</span>
                </td>
                <td>
                    <input ng-blur="savePropriedade($index)" ng-show="editMode || propriedadesEditMode" type="text" class="form-control" ng-model="propriedade.valor">
                    <span ng-hide="editMode || propriedadesEditMode">{{propriedade.valor}}</span>
                </td>
                <td>
                    <button ng-show="editMode || propriedadesEditMode" class="btn btn-default" ng-click="removePropriedade($index);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-show="elemento.propriedades.length == 0">
                <td colspan="3" class="text-center text-muted">
                    Sem propriedades
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="editMode || propriedadesEditMode">
            <form ng-submit="addPropriedade()">
                <tr>
                    <td><input type="text" id="novaPropriedadeNome" class="form-control" ng-model="novaPropriedade.nome"></td>
                    <td><input type="text" id="novaPropriedadeValor" class="form-control" ng-model="novaPropriedade.valor"></td>
                    <td>
                        <button type="submit" ng-click="addPropriedade()" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </form>
        </tfoot>
    </table>
</div>