<div class="panel" ng-class="elemento.tipo" ng-controller="RelacionamentosCtrl">
    <div class="panel-heading">
        <h4 class="panel-title">Relacionamentos de dependência</h4>
    </div>
    <table class="table table-condensed">
        <thead ng-show="elemento.relacionamentos.length > 0">
            <tr>
                <th>Relacionamento</th>
                <th>Com</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="relacionamento in elemento.relacionamentos">
                <td width="40%">
                    <span ng-hide="editMode || relacionamentosEditMode">{{getNomeRelacionamento(relacionamento.tipo)}}</span>
                    <select ui-select2 ng-show="editMode || relacionamentosEditMode" class="form-control" ng-model="relacionamento.tipo" ng-options="tipo.value as tipo.label for tipo in relacionamentos" ng-change="saveRelacionamento($index)"></select>
                </td>
                <td>
                    <span ng-hide="editMode || relacionamentosEditMode">
                        <span ng-show="relacionamento.elemento.tipo == 'service'" class="pull-right label label-primary">Serviço</span>
                        <span ng-show="relacionamento.elemento.tipo == 'component'" class="pull-right label label-warning">Componente</span>
                        <span ng-show="relacionamento.elemento.tipo == 'people'" class="pull-right label label-danger">Pessoa</span>
                        <a href="#/{{relacionamento.elemento.id}}">
                            {{relacionamento.elemento.titulo}}
                        </a>
                    </span>
                    <input ng-show="editMode || relacionamentosEditMode" type="hidden" ui-select2="elementoSelector" class="form-control" ng-model="relacionamento.elemento" ng-change="saveRelacionamento($index)">
                </td>
                <td>
                    <button ng-show="editMode || relacionamentosEditMode" class="btn btn-default" ng-click="removeRelacionamento($index);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-show="elemento.relacionamentos.length == 0">
                <td colspan="3" class="text-center text-muted">
                    Sem relacionamentos de dependência
                </td>
            </tr>
        </tbody>
        <tfoot ng-show="editMode || relacionamentosEditMode">
            <form ng-submit="addRelacionamento()">
                <tr>
                    <td width="40%">
                        <select ui-select2 id="novoRelacionamentoTipo" class="form-control" ng-model="novoRelacionamento.tipo" ng-options="tipo.value as tipo.label for tipo in relacionamentos"></select>
                    </td>
                    <td>
                        <input type="hidden" id="novoSearch" ui-select2="elementoSelector" class="form-control" ng-model="novoRelacionamento.elemento">
                    </td>
                    <td>
                        <button type="submit" ng-click="addRelacionamento()" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </form>
        </tfoot>
    </table>
</div>